<h1 class="item pt-1 pl-3 text-center">投稿ゲーム一覧</h1>
<div class="container px-5 px-sm-0">
  <div class="row">
  <%= render partial: 'public/games/sort', locals: { game_title_cont: @game_title_cont }  %>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
      <th></th>
      <th></th>
      <th>ゲームタイトル</th>
      <th>紹介文</th>
      <th>値段</th>
      <th>いいね数</th>
      <th>評価</th>
      </tr>
    </thead>
    <tbody>
      <% @search_games.each do |game| %>
      <tr>
        <td>
          <%= link_to public_game_path(game.id) do %>
            <%= attachment_image_tag(game, :game_image, :fill, 50, 50, fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td></td>
        <td><%= link_to game.game_title, public_game_path(game.id) %></td>
        <td><%= game.game_introduction %></td>
        <td><%= game.price %></td>
        <td>
            ♥<%= game.favorites.count %>
        </td>
        <td>
          <div class="average-comment-rating" data-score="<%=  game.comments.average(:rate) %>"></div>
                                            <!--gameからcommentoの情報を受け取ってaverageメソッドにより平均を出力する-->
          <script>
            $('.average-comment-rating').empty(); // 下記だけでは星がいくつも表示されてしまうので一度空にする
            $('.average-comment-rating').raty({   // 上記で出した平均値を星に反映させる
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
          </script>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>