<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <h2 class='text-center' style="margin-bottom: 20px; padding: 10px;">ゲーム新規投稿</h1>
      <%= form_with model: @game, url: public_games_path , local:true do |f| %>
      <table class="table-inverse">
        <tbody>

          <tr height="50">
            <th width=150>画像</th>
            <th><%= f.attachment_field :game_image %></th>
          </tr>

          <tr height="50">
            <th>ゲームタイトル</th>
            <th><%= f.text_field :game_title, size: "40x20", placeholder:"タイトル"%></th>
          </tr>

          <tr height="50">
            <th>紹介文</th>
            <th><%= f.text_area :game_introduction, size: "40x5", placeholder:"ここに紹介文を記述します" %></th>
          </tr>

          <tr height="50">
            <th>お勧めする点</th>
            <th><%= f.text_area :recommended, size: "40x5", placeholder:"お勧めする点を記載してください" %></th>
          </tr>

          <tr height="50">
            <th>税抜価格</th>
            <th><%= f.text_field :price, size: "40x20",placeholder:"1000" %><label>円</label></th>
          </tr>

        </tbody>
      </table>
        <p class="text-center">
          <%= f.submit'新規投稿', :class=>"button"%>
        </p>
      <% end %>
    </div>
  </div>
</div>