<h1 class="text-center">ゲーム詳細</h1>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%=attachment_image_tag @game,:game_image,:fill, 60, 60, fallback: "no_image.jpg", class: "w-100 pt-5" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <table class="table">
        <tbody>
          <tr>
           <th class="col-3">ゲームタイトル</th>
           <th><%= @game.game_title %></th>
          </tr>
          <tr>
        　 <th class="col-3">紹介</th>
           <th><%= @game.game_introduction %></th>
          </tr>
          <tr>
        　 <th class="col-3">お勧めする点</th>
           <th><%= @game.recommended %></th>
          </tr>
          <tr>
           <th class="col-3">価格</th>
           <th> <%= @game.price %>円</th>
          </tr>
          <tr>
            <th class="col-3">評価</th>
            <th>
              <div class="average-comment-rating" data-score=<%= @average_rate %>></div>
                <script>
                  $('.average-comment-rating').empty();  // 下記だけでは星がいくつも表示されてしまうので一度空にする
                  $('.average-comment-rating').raty({    // 上記で出した平均値を星に反映させる
                    readOnly: true,
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    score: function() {
                      return $(this).attr('data-score')
                    }
                  });
                </script>
            </th>
          </tr>
          <tr>
            <th class="col-3">
              <% if admin_signed_in? %>
                ♥<%= @game.favorites.count %>
              <% else %>
                <span id="favorites-<%= @game.id %>">
                  <%= render "public/favorites/favorite", locals: { game: @game } %>
                </span>
              <% end %>
            </th>
            <th>
              <% if @game.user == current_user || admin_signed_in? %>
                  <%= link_to public_game_path(@game), method: :delete, class: "btn btn-sm btn-danger" do %>
                      投稿削除 <i class="fas fa-trash"></i>
                  <% end %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
      <% if @game.user == current_user %>
      <div class='row'>
        <%= link_to '編集',edit_public_game_path(@game),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@game.id}", style: "margin-bottom: 20px;" %>
      </div>
      <% end %>

      <% if user_signed_in? %>
      <%= form_with(model: [@game, @comment], id: "new-comment", url: public_game_comments_path(@game), remote: true) do |f| %>
        <%#= render 'layouts/error_messages', object: f.object %>

        <%= f.text_area :comment, rows:'5', placeholder: "コメント入力してください", class: "inputComment form-control form-control-sm" %>
        <div id="rating-form">
            <label>評価：</label>
            <!--scoreNameの値をhidden_fieldでカラムに送っている-->
            <%= f.hidden_field :rate, :value => 'score' %>
        </div>

        <%= f.submit "投稿する", style: "margin-bottom: 20px;" %>
      <% end %>


      <script>
        $('#rating-form').raty({
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: 'comment[rate]'
        });
      </script>

      <% end %>
      <div id="commentsArea-<%= @game.id %>">
        <%= render partial: "public/comments/comment", locals: { comments: @comments }%>
      </div>
    </div>
  </div>
</div>