<h1>ゲーム詳細</h1>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%=attachment_image_tag @game,:game_image,:fill, 60, 60, fallback: "no_image.jpg", class: "w-100 pt-5" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <table class="table">
        <tbody>
          <tr>
           <th>ゲームタイトル</th>
           <th><%= @game.game_title %></th>
          </tr>
          <tr>
        　 <th>紹介</th>
           <th><%= @game.game_introduction %></th>
          </tr>
          <tr>
        　 <th>お勧めする点</th>
           <th><%= @game.recommended %></th>
          </tr>
          <!--<tr>-->
          <!--  <th>ジャンル</th>-->
          <!--  <th><%#= @item.genre.name %></th>-->
          <!--</tr>-->
          <tr>
           <th>価格</th>
           <th> <%= @game.price %>円</th>
          </tr>
          <tr>
            <th>
              <% if @game.favorited_by?(current_user) %>
              <p>
                <%= link_to public_game_favorites_path(@game), method: :delete do %>
                  ♥<%= @game.favorites.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to public_game_favorites_path(@game), method: :post do %>
                  ♡<%= @game.favorites.count %> いいね
                <% end %>
              </p>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
      <div class='row'>
        <%= link_to '編集',edit_public_game_path(@game),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@game.id}" %>
      </div>

      <div class="comments">
      <p>コメント件数：<%= @game.comments.count %></p>
      <% @game.comments.each do |c| %>
        <p><%= attachment_image_tag(game, :game_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></p>
        <%= c.user.name %>
        <%= c.created_at.strftime('%Y/%m/%d') %><%= c.comment %>
      <% end %>
      </div>

      <div class="new-comment">
      <%= form_with(url: public_game_comments_path(@game), local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>

    </div>
  </div>
</div>